<app-header>
</app-header>
<div class="row">
    <div class="col-md-2">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-8 tabble">
        <div class="avgg">
            <h1 style="color:dodgerblue;margin-top: 30px;;">Average Rating of Products:</h1>
        </div>
        <table class="table table-hover table-bordered container">
            <thead>
                <tr>
                    <td>Productid </td>
                    <td>Rating</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rating of avgratings">
                    <td>{{rating._id}}</td>
                    <td>{{rating.AverageRating}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>